.intro-section {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}
.product-image {
    width: 100%;
    height: auto;
   
}

.search-box {
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: black;
}

.product-category {
    width: 300px;
}

.search-input {
    width: 300px;
    background-color: rgb(19, 23, 42);
    margin-right: 10px;
    border-color:skyblue;
    color: black;
}


.form-control {
    background-color: transparent;
    color: black;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}



.product-item {
    background-color:whitesmoke;
    border: 1px solid rgb(35, 39, 61);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-name {
    color: black;
}

.product-description {
    color: black;
}



.product-price {
    color: black;
}

.product-rating {
    color: #FFD700;
    margin-top: 10px;
}

.product-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.space-x {
    margin: 0 5px;
    /*margin-top, margin-right, margin-bottom, margin-left*/
}