<app-header></app-header>
<div class="container"  class="product-banner">
    
        
        
        
      
    <div class="intro-section">
        <img src=" \assets\img\banner.jpg" alt="Banner Image ">
    </div>
    <!--! o search va combobox-->
    <div class="search-box">
        <!-- dung form control cua bootstrap -->
        <input class="search-input" type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
        <select class="form-control product-category">
            <option selected disabled>Danh mục sản phẩm</option>
            <option>Sản phẩm hoàn thiện</option>    
            <option>Bộ nguyên liệu tự làm</option>    
            <option>Handmade tặng người yêu</option>    
        </select>
    </div>
    <div class="row">
    <!--dung bootstrap row chia săn thành 2 o-->
    <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img 
                src="\assets\img\test.jpg" 
                    alt="Product Image" 
                    class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                
                <p class="product-price">Giá:  500K</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">
                        <i class="fas fa-shopping-cart icon"></i>Thêm vào giỏ hàng</button>                    
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img 
                src="\assets\img\test.jpg" 
                    alt="Product Image" 
                    class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              
                <p class="product-price">Giá:  500K</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">
                        <i class="fas fa-shopping-cart icon"></i>
                        Thêm vào giỏ hàng</button>                    
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img 
                src="\assets\img\test.jpg" 
                    alt="Product Image" 
                    class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
           
                <p class="product-price">Giá:  500K</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">
                        <i class="fas fa-shopping-cart icon"></i>
                        
                        Thêm vào giỏ hàng</button>                    
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        
        

    </div>
        
</div>
<app-footer></app-footer>